* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
html,
body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 auto;
}

.header {
    background: url('../img/bg.svg') no-repeat;
    margin-bottom: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 46.25rem;
}

.header__content h1 {
    letter-spacing: 0.08rem;
    font-weight: 500;
    color: #fff;
    font-size: 4rem;
    padding-bottom: 2.1875rem;
    text-align: center;
}

.header__content>p {
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    padding-bottom: 1.25rem;
}

.grid__header {
    display: grid;
    grid-template-columns: repeat(4, minmax(11.875rem, 1fr));
    grid-column-gap: 1.875rem;
    background-color: #FFF;
    padding: 3.5625rem 8.125rem;
}

.item {
    text-align: center;
}

.item h2 {
    color: #F7654A;
    font-size: 4.5rem;
    font-weight: 500;
    padding-bottom: 1.5625rem;
}

img {
    max-width: 100%;
    height: auto;
}

.item h3 {
    color: #000;
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom: 0.625rem;
}

.grid__header>.item>p {
    color: #999;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: none;
}

section {
    width: 69.375rem;
    margin: 0 auto;
    text-align: center;
}

.our__projects {
    padding-bottom: 12.5rem;
}

.our__projects h2 {
    color: #404149;
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom: 3.75rem;
}

.project__cards {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 1.875rem;
    text-align: left;
}

.card .card__img {
    padding-bottom: 2.8125rem;
}

.card img {
    padding-bottom: 0.9375rem;
}

.card h3 {
    color: #404149;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1.25rem;
}

.card p {
    color: #999;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
}

.inline__conteiner {
    width: 100%;
    background: #F7654A;
    color: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inline__content h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.06rem;
    padding: 1.875rem 0 1.25rem 0;
}

.inline__content p {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.03rem;
    padding-bottom: 2.8125rem;
}

.inline__button button {
    color: #000;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.0437rem;
    padding: 0.9375rem 2.8125rem;
    border: none;
}

.work__container {
    padding-top: 9.375rem;
}

.work__container h2 {
    color: #000;
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom: 4.125rem;
}

.work__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.875rem;
    grid-row-gap: 2.1875rem;
}

.work__card {
    width: 21.875rem;
    height: 15.625rem;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work__card img {
    padding-bottom: 1.875rem;
}

.work__card p {
    font-size: 1.3125rem;
    font-weight: 500;
    letter-spacing: 0.0262rem;
}

.contacts__container {
    padding-top: 7rem;
}

.contacts__container h2 {
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom: 3.75rem;
}

.contacts__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.875rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.contact img {
    padding-bottom: 2.25rem;
}

.contact h3 {
    color: #999;
    padding-bottom: 1.5625rem;
}

.contact p {
    color: #000;

}

.contact a {
    color: #F7654A;
    text-decoration: none;
}

.card_04 img {
    padding-top: 0.625rem;
    padding-bottom: 2.5rem;
}

.footer {
    width: 100%;
    margin-top: 3.75rem;
    display: flex;
    justify-content: space-around;
    background: #404149;
}

.footer p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.875rem 0;
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
    * {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    * {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    * {
        font-size: 10px;
    }

    .project__cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 25px;
    }

    .work__cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

    .contacts__cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    * {
        font-size: 8px;
    }

    .project__cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

    .work__cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

    .contacts__cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
    }

    .work__card img,
    .contact img,
    #line {
        width: 5rem;
        height: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    * {
        font-size: 4px;
    }

    .project__cards {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 15px;
    }

    .work__cards {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 20px;
    }

    .contacts__cards {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }

    .work__card img,
    .contact img,
    #line {
        width: 6rem;
        height: auto;
    }
}